<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登陆isRequired.</title>
</head>

<body>
<h1>需要先完成登陆。</h1>
<p>来把密码输进去吧</p>
<form method="POST" action="/auth/login">
    <input name="pwd">
    <button>我是我。</button>
</form>
<p>Little TIP:这个网站上80%的bug都是因为操作过快导致的，记得填写任何东西后都过五秒再提交。</p>
</body>


</html>