<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>打开微信，扫描下面这个二维码：</title>
</head>

<body>
<h1>欢迎使用</h1>
<p>系统还正在启动，请等下。这个步骤完成后会自动跳转。</p>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    $(function() {
        var socket = io()
        socket.on('finishWatting', function() {
            self.location.href="/"
        })
    })
</script>

</html>